.container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5rem;
  animation: fadeIn ease .3s;

}

.loader {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
  margin: 0 auto;

  img {
    object-fit: contain;
    width: 64px;
    height: 64px;
    animation: loader 1.2s linear infinite;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes loader {
  0%, 100% {
    opacity: 1;
  }
  50% {
    opacity: 0.25;
  }
}
