.product {
  min-height: 85vh;
}

.body {
  display: flex;
  justify-content: space-around;
  padding: 2rem 2.125rem;
  animation: fadeIn ease 1s;
}

.left {
  flex: 0.5;
  display: flex;
  flex-direction: column;

  a {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    border-radius: 999px;
    width: 46px;
    height: 46px;
    transition: all 0.3s;
    background-color: rgba(0, 0, 0, 0.25);
    margin-bottom: 2rem;

    svg {
      margin-right: 2px;
    }
    
    &:hover {
      background-color: black;
    }
  }
}

.image {
  background-color: white;
  padding: 2rem;
  margin: 0 auto;

  img {
    object-fit: contain;
    width: 400px;
    height: 600px;
  }
}

.right {
  flex: 0.5;
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 0 2.125rem;

  h2 {
    display: flex;
    justify-content: baseline;
    font-size: 36px;
    margin-top: 0;
    font-weight: 800;

    span {
      margin-left: 1px;
      font-size: 24px;
      font-weight: 600;
      letter-spacing: 2px;
    }
  }

  p {
    margin-top: 0;
  }

  button {
    padding: 1rem 1.875rem;
    border: 0;
    outline: 0;
    color: white;
    background-color: #fdc529;
    border-radius: 999px;
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
    text-transform: uppercase;
    letter-spacing: 0.5px;
    transition: all 0.3s;
    max-width: 450px;

    &:hover {
      background-color: black;
      color: #fdc529;
    }
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@media (max-width: 960px) {
  .body {
    flex-direction: column;
  }

  .left {
    order: 1;
  }

  .image {
    margin: 0 auto;

    img {
      width: 100%;
    }
  }

  .right {
    order: 2;
    padding: 0.875rem 0;

    button {
      max-width: 100%;
    }
  }
}

@media (prefers-color-scheme: dark) {
  .image {
    border-radius: 12px;
    opacity: 0.9;
  }

  .left {
    a {
      color: black;
      background-color: rgba(255, 255, 255, 0.5);
      
      &:hover {
        background-color: white;
      }
    }
  }

  .right {
    button {
      &:hover {
        background-color: white;
        color: #fdc529;
      }
    }
  }
}
