.splashScreen {
  display: grid;
  place-items: center;
  color: black;
  height: 100vh;
  background-color: white;
}

.content {
  animation: fadeIn ease-in .5s normal forwards;
  height: 58px;
  padding: 1.25rem 1.875rem;
  display: flex;
  align-items: center;

  h1 {
    padding-left: 0.75rem;
    font-size: 42px;

  }

  & > h1 {
    margin-right: 0.75rem;
  }

  img {
    object-fit: contain;
    height: 64px;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@media (prefers-color-scheme: dark) {
  .splashScreen {
    background-color: black;
    color: white;
  }
}
